
*.index
*.index
*.meta
*.data-00000-of-00001
*.meta
*.SAM
*.data-00000-of-00001
*.index
*.data-00000-of-00001
2.Python/Tensorflow/graph.ckpt-420.index
*.meta
*.index
*.meta
*.data-00000-of-00001
*.gz
*.gif
*.tif
*.jpg
2.Python/Tensorflow/data/CIFAR10_data/cifar-10-batches-py/data_batch_2
2.Python/Tensorflow/data/CIFAR10_data/cifar-10-batches-py/data_batch_1
2.Python/Tensorflow/data/CIFAR10_data/cifar-10-batches-py/data_batch_3
2.Python/Tensorflow/data/CIFAR10_data/cifar-10-batches-py/data_batch_4
2.Python/Tensorflow/data/CIFAR10_data/cifar-10-batches-py/data_batch_5
2.Python/Tensorflow/data/CIFAR10_data/cifar-10-batches-py/test_batch
2.Python/Tensorflow/data/my_net/checkpoint
2.Python/Tensorflow/hands_train.tfrecords
2.Python/Tensorflow/test.bin
2.Python/Tensorflow/test.tfrecords
2.Python/Tensorflow/train.bin
2.Python/Tensorflow/train.tfrecords
2.Python/Tensorflow/data/HANDS_data/b.gi
